*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: white;
    
    
}

body{

display: flex;
background-color: black;

main{

display: flex;

}

}

#coluna{
display: flex;
flex-direction: column;
font-size: 16px;


}

.story img{

width: 95px;
border-radius: 50%;
border: 1px solid black;


}

#lado4{

display: flex;
flex-direction: column;
margin-top: 35px;



}

#imagem1 img{

    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 1px solid black;
    align-items: center;
}


#imagem1 {

display: flex;
align-items: center;
padding-left: 150px;
}





header{

border-right: 1px solid #1C1C1C;
padding-top: 25px;
padding-left: 25px;
padding-right: 50px;

}

#lado{

    display: flex;
    justify-content: space-between;
    gap: 25px;
    margin-left: 25px;

}

.story{
    width: 102px;
    height: 102px;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #F6C602, #F81703, #C72767, #884AB9);
    display: flex;
    align-items: center;
    justify-content: center;
}

#lado2{

display: flex;
flex-direction: column;
border-right: 1px solid #1C1C1C;
border-right: 1px solid #1C1C1C;
padding-top: 25px;
padding-left: 25px;
padding-right: 50px;
font-size: 16px;
}




.lado3{

display: flex;
padding-left: 70px;

}

.lado3 img{

border-radius: 50%;
width: 50px;


}



#imagem4 img{

width: 450px;
height: 450px;
object-fit: cover;
align-items: center;

}

#lado5{

padding-left: 150px;
padding-top: 10px;

}

#icons{

display: flex;
padding-left: 150px;
gap: 5px;


}

#icons2{

display: flex;
padding-left: 375px;

}

.color{

color: rgba(187, 181, 181, 0.39);

}

#centro{

    display: flex;
    flex-direction: column;
    padding-left: 150px;
    padding-top: 15px;

}